[defaults]
roles_path = eda/hybridvpc/roles:eda/entity/roles:eda/team/roles:eda/assignment/roles:eda/project/roles:eda/persona/roles:eda/platformopenshift/roles:eda/cloudoso/roles:eda/cloudaws/roles:eda/plugin-rbac/roles:eda/plugin-vault/roles:eda/plugin-aap/roles:eda/plugin-quay/roles:eda/plugin-iaac/roles:eda/rulebooks/roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
retry_files_enabled = False
